lab2/src/revert_string/revert_string
lab2/src/revert_string/main.o
lab2/src/revert_string/statically-linked
lab2/src/revert_string/use-shared-library
lab2/src/revert_string/shared/librevert.so
lab2/src/revert_string/shared/revert_string.o
lab2/src/revert_string/static/librevert.a
lab2/src/revert_string/static/revert_string.o
lab2/src/swap/swap
lab2/src/tests/tests.o
lab2/src/tests/use-shared-library
lab3/src/data_0.txt
lab3/src/data_1.txt
lab3/src/data_2.txt
lab3/src/data_3.txt
lab3/src/exec
lab3/src/find_min_max.o
lab3/src/parallel_min_max
lab3/src/parallel_min_max1
lab3/src/sequential_min_max
lab3/src/sequential_min_max1
lab3/src/utils.o
lab4/src/parallel_sum
lab4/src/parallel_sum.o
lab4/src/process_memory
lab4/src/sum.o
lab4/src/static/libsum.a
lab4/src/task1/parallel_min_max_timeout
lab4/src/task1/utils.o
lab4/src/task2/zombie
lab5/src/deadlock
lab5/src/factorial
lab5/src/mutex
lab5/src/mutex_off
lab6/src/client
lab6/src/client.o
lab6/src/multimodulo.o
lab6/src/server
lab6/src/server.o
lab6/src/static/libmultimodulo.a
lab7/src/tcpclient
lab7/src/tcpserver
lab7/src/udpclient
lab7/src/udpserver
